@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

section{
    border-left: 10px solid rgb(53, 53, 53);
    border-top:10px solid rgb(53, 53, 53);
    border-right:10px solid rgb(219, 219, 219);
    border-bottom:10px solid rgb(219, 219, 219);
    flex-wrap: wrap;
    max-height: 500px;
    max-width: 456px;
    display: flex;
    margin: 0 auto;
    div{
        height: 50px;
        width: 55px;
        margin: 0 auto;
        border: 1px dotted #555;
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
    }
}

img{
    height: 30px;
    width: 30px;
}
.un{
    color: blue;
    font-family: 'Press Start 2P', cursive;
}
.deux{
    color: green;
    font-family: 'Press Start 2P', cursive;
}
.trois{
    color: red;
    font-family: 'Press Start 2P', cursive;
}

.hidden{
    background-color: rgb(151, 151, 151);
    border-left: rgb(53, 53, 53) solid 1px;
    border-top: rgb(53, 53, 53) solid 1px;
    border-bottom: #FFF solid 1px;
    border-right: #FFF solid 1px;
    p{
        color: rgb(151, 151, 151);
    }
    &:hover{
        background-color: #FFF;
        border: 1px dotted #555;
        .un{
            color: blue;
        }
        .deux{
            color: green;
        }
        .trois{
            color: red;
        }
    }
}

.border{
    border: rgb(160, 160, 160) solid 10px;
    max-width: 476px;
    max-height: 515px;
    margin: auto; 
}