@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    max-height: 1080px;
    display: flex;

    margin: auto;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;

}

section{
    display: flex;
    max-height: 500px;
    max-width: 456px;
    border-left: 10px solid rgb(53, 53, 53);
    border-top:10px solid rgb(53, 53, 53);
    border-right:10px solid rgb(219, 219, 219);
    border-bottom:10px solid rgb(219, 219, 219);
    flex-wrap: wrap;
    margin: auto;
    div{
        height: 50px;
        width: 55px;
        text-align: center;
        margin: 0 auto;
        padding-top: 5px;
        border: 1px dotted #555;
        font-size: 45px;
    }
}

img{
    height: 45px;
    width: 45px;
}
.un{
    color: blue;
    font-family: 'Press Start 2P', cursive;
}
.deux{
    color: green;
    font-family: 'Press Start 2P', cursive;
}
.trois{
    color: red;
    font-family: 'Press Start 2P', cursive;
}

.hidden{
    background-color: rgb(151, 151, 151);
    border-left: rgb(53, 53, 53) solid 1px;
    border-top: rgb(53, 53, 53) solid 1px;
    border-bottom: #FFF solid 1px;
    border-right: #FFF solid 1px;
    p{
        color: rgb(151, 151, 151);
    }
    img{
        display: none;
    }
    &:hover{
        background-color: #FFF;
        border: 1px dotted #555;
        .un{
            color: blue;
        }
        .deux{
            color: green;
        }
        .trois{
            color: red;
        }
        img{
            display: block
        }
    }
}

.border{
    border: rgb(160, 160, 160) solid 10px;
    max-width: 476px;
    max-height: 515px;
    margin: auto;
}